PORT=3001
# Optional: Set this to bypass the default DB admin account
ADMIN_EMAIL=your_admin_email@example.com
# Optional: If deploying to Google Cloud Run, specify the bucket to sync the database
GCS_BUCKET_NAME=your_gcs_bucket_name_optional
